@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-Variable.woff2") format("woff2"),
    url("../assets/fonts/Outfit-Variable.woff") format("woff"),
    url("../assets/fonts/Outfit-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-Thin.woff2") format("woff2"),
    url("../assets/fonts/Outfit-Thin.woff") format("woff"),
    url("../assets/fonts/Outfit-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-ExtraLight.woff2") format("woff2"),
    url("../assets/fonts/Outfit-ExtraLight.woff") format("woff"),
    url("../assets/fonts/Outfit-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-Light.woff2") format("woff2"),
    url("../assets/fonts/Outfit-Light.woff") format("woff"),
    url("../assets/fonts/Outfit-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Outfit-400";
  src: url("../assets/fonts/Outfit-Regular.woff2") format("woff2"),
    url("../assets/fonts/Outfit-Regular.woff") format("woff"),
    url("../assets/fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-Medium.woff2") format("woff2"),
    url("../assets/fonts/Outfit-Medium.woff") format("woff"),
    url("../assets/fonts/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Outfit-SemiBold.woff") format("woff"),
    url("../assets/fonts/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-Bold.woff2") format("woff2"),
    url("../assets/fonts/Outfit-Bold.woff") format("woff"),
    url("../assets/fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-ExtraBold.woff2") format("woff2"),
    url("../assets/fonts/Outfit-ExtraBold.woff") format("woff"),
    url("../assets/fonts/Outfit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-Black.woff2") format("woff2"),
    url("../assets/fonts/Outfit-Black.woff") format("woff"),
    url("../assets/fonts/Outfit-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: "Outfit", sans-serif;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h4 {
  margin-bottom: 0.4rem;
}
